/* Global styles */
*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: content-box;
  font-family: 'Rubik', sans-serif;
}
.container{
  max-width: 1200px;
  width: 100%;
}
.site-header{
  background: rgba(246, 246, 246, 1);

}

/* HEADER */
.site-header{
  max-width: 1550px;
  width: 100%;

}
.header-logo{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 125px;
  padding-right: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: rgba(114, 150, 238, 1);
}
.header-list{
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  list-style-type: none;
  font-weight: 400;
}
.header-list-item-dollar{
  display: flex;
  padding-left: 41px;
}
.header-list-item-rubl{
  display: flex;
  padding-left: 25px;
  padding-right: 215px;
}
.valuete-sign{
  font-weight: 700;
  color: rgba(41, 89, 206, 1);
}
.search-pic{
  margin: 13px 12px 15px 6px;
}
.header-search{
  margin: 13px 25px 15px 6px;
  align-items: center;
  width: 275px;
  height: 45px;
  border-radius: 60px;
  display: flex;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 1);
  color: rgba(141, 141, 141, 1);
}
.header-search-text{
  text-align: center;
  font-size: 400;
  font-size: 14px;
  line-height: 17px;
}
.header-langs{
  display: flex;
  text-align: center;
  width: 78px;
  height: 40px;
  border: 1px solid rgba(220, 230, 255, 1);
  border-radius:39px;
  background: rgba(220, 230, 255, 1);
  margin-right: 25px;
}
.uz{
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  padding: 8px 7px;
  margin: 3px 8px 3px 3px;
}
.ru{
  text-align: center;
  color: rgba(166, 166, 166, 1);
  padding: 11px 13px 10px 8px;
}

.sign-up{
  border: 2px solid rgba(114, 150, 236, 1);
  border-radius:10px;
  background: rgba(114, 150, 236, 1);
  color:#fff;
  padding: 13px 20px;
  margin: 43px 140px 43px 45px;
  font-weight: 500;
}
.header-sign-up{
  text-decoration: none;
  color: #fff;
}
/* SITE-HEADER-LINKS */
.site-header-links{
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content:space-around;
  margin-left: 120px;
  margin-right: 120px;
  font-weight: 500;
  margin: 30px 120px 40px 120px;
}
.site-header-link-item{
  color: rgba(127, 127, 127, 1);
  text-decoration: none;
  list-style: none;
}
.site-header-link-item :hover{
  color:rgba(114, 150, 236, 1);
  cursor: pointer;
}
/* ADD PHOTO */
.optimize{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}